@import url("https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

body {
    background-color: #f7f7f7;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

label {
    display: block;
    margin-top: 10px;
}


/* ... */
.hide {
    display: none;
}

.relative {
    position: relative;
}

.list-no-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Navigation */
.sidebar {
    text-align: left;
    padding: 0 0 0 2vh;
}
.sidebar-toggle {
    background-color: #c0c0c0cc;
    border-color: #c0c0c0cc;
    display: flex;
    justify-self: left;
    margin: 20px;
}
.sidebar-active {
    background-color: #282c34;
    margin-right: 20px;
    border-left: 1px solid;
}
.nav-item:hover {
    margin-right: 20px;
    border-left: 1px solid;
    border-right: 1px solid;
    text-shadow: 2px 2px 8px black;
}
.navbar-expand {
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* layout */

.card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
}
.card {
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 0px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.hover-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

/* */
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.img-big {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.custom-mr-10 {
    margin-right: 10px;
}

.invoice-logo {
    height: 4rem;
}

.bg-draft {
    background-color: rgba(222, 234, 236, 1);
}
.bg-draft-outline {
   border: 2px solid rgba(222, 234, 236, 1);
}

.bg-pending {
    background-color: rgba(132, 252, 255, 1);
}
.bg-pending-outline {
    border: 2px solid rgba(132, 252, 255, 1);
}

.bg-approved {
    background-color: rgba(32, 220, 249, 1);
}
.bg-approved-outline {
    border: 2px solid rgba(32, 220, 249, 1);
}

.bg-paid {
    background-color: rgba(29, 250, 127, 1);
}
.bg-paid-outline {
    border: 2px solid rgba(29, 250, 127, 1);
}

.bg-gradient {
    background-image: linear-gradient( to bottom right, rgba(6, 171, 79, 1), rgba(29, 250, 127, 1) );
}

.link-no-style {
    text-decoration: none;
}

.text-mini {
    font-size: calc(1px + 2vmin);
}